language: java

jdk:
  - oraclejdk8

# cache between builds
cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle

deploy:
  # Github deploy on TAG
  - provider: releases
    api_key: $GITHUB_TOKEN
    file_glob: true
    file: "$TRAVIS_BUILD_DIR/build/distributions/*"
    skip_cleanup: true
    body: "Release of $TRAVIS_TAG"
    draft: false
    on:
      tags: true
